include LICENSE
include README.rst
include _modules.c
include src/apxs
prune src/httpd/bin
prune src/httpd/build
prune src/httpd/conf
prune src/httpd/include
prune src/httpd/lib
prune src/httpd/modules
include apr-1.7.0.tar.gz
include apr-util-1.6.1.tar.gz
include httpd-2.4.48.tar.gz
include pcre-8.45.tar.gz
