include LICENSE
include README.rst
include _modules.c
include src/apxs
prune src/httpd/bin
prune src/httpd/build
prune src/httpd/conf
prune src/httpd/include
prune src/httpd/lib
prune src/httpd/modules
